.tw-fixed{
  position: fixed;
}

.tw-absolute{
  position: absolute;
}

.tw-relative{
  position: relative;
}

.tw-inset-0{
  inset: 0px;
}

.tw-right-\[10px\]{
  right: 10px;
}

.tw-top-\[10px\]{
  top: 10px;
}

.tw-left-1\/2{
  left: 50%;
}

.tw-top-1\/2{
  top: 50%;
}

.tw-z-\[2\]{
  z-index: 2;
}

.tw-m-0{
  margin: 0px;
}

.tw-m-auto{
  margin: auto;
}

.tw-mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.tw-my-0{
  margin-top: 0px;
  margin-bottom: 0px;
}

.tw-mr-\[8px\]{
  margin-right: 8px;
}

.tw-block{
  display: block;
}

.tw-inline-block{
  display: inline-block;
}

.tw-flex{
  display: flex;
}

.tw-grid{
  display: grid;
}

.tw-h-\[20px\]{
  height: 20px;
}

.tw-h-\[85\.7px\]{
  height: 85.7px;
}

.tw-h-\[40px\]{
  height: 40px;
}

.tw-h-full{
  height: 100%;
}

.tw-h-screen{
  height: 100vh;
}

.tw-max-h-\[85vh\]{
  max-height: 85vh;
}

.tw-max-h-\[90vh\]{
  max-height: 90vh;
}

.tw-max-h-none{
  max-height: none;
}

.\!tw-w-\[100\%\]{
  width: 100% !important;
}

.tw-w-\[100\%\]{
  width: 100%;
}

.tw-w-\[20px\]{
  width: 20px;
}

.tw-w-\[85\.7px\]{
  width: 85.7px;
}

.tw-w-\[40px\]{
  width: 40px;
}

.tw-w-full{
  width: 100%;
}

.tw-w-screen{
  width: 100vw;
}

.\!tw-max-w-\[100\%\]{
  max-width: 100% !important;
}

.\!tw-max-w-\[620px\]{
  max-width: 620px !important;
}

.\!tw-max-w-\[690px\]{
  max-width: 690px !important;
}

.tw-max-w-\[1440px\]{
  max-width: 1440px;
}

.tw-max-w-\[500px\]{
  max-width: 500px;
}

.tw-max-w-\[690px\]{
  max-width: 690px;
}

.tw-max-w-\[582px\]{
  max-width: 582px;
}

.\!tw-max-w-\[50\%\]{
  max-width: 50% !important;
}

.tw-max-w-\[90vw\]{
  max-width: 90vw;
}

.tw-max-w-none{
  max-width: none;
}

.tw-translate-x-\[-50\%\]{
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-translate-y-\[-50\%\]{
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-cursor-pointer{
  cursor: pointer;
}

.tw-list-none{
  list-style-type: none;
}

.tw-grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.tw-flex-col{
  flex-direction: column;
}

.tw-items-center{
  align-items: center;
}

.tw-justify-center{
  justify-content: center;
}

.tw-justify-between{
  justify-content: space-between;
}

.\!tw-gap-\[45px\]{
  gap: 45px !important;
}

.tw-gap-\[0px\]{
  gap: 0px;
}

.tw-gap-\[10px\]{
  gap: 10px;
}

.tw-gap-\[12px\]{
  gap: 12px;
}

.tw-gap-\[20px\]{
  gap: 20px;
}

.tw-gap-\[5px\]{
  gap: 5px;
}

.tw-gap-\[8px\]{
  gap: 8px;
}

.tw-gap-\[28px\]{
  gap: 28px;
}

.tw-rounded-\[24px\]{
  border-radius: 24px;
}

.tw-rounded-\[50px\]{
  border-radius: 50px;
}

.tw-rounded-\[100\%\]{
  border-radius: 100%;
}

.tw-rounded-\[12px\]{
  border-radius: 12px;
}

.tw-rounded-full{
  border-radius: 9999px;
}

.tw-border-0{
  border-width: 0px;
}

.tw-border-\[1\.35px\]{
  border-width: 1.35px;
}

.tw-border-\[1px\]{
  border-width: 1px;
}

.tw-border-\[2px\]{
  border-width: 2px;
}

.tw-border-t-\[1px\]{
  border-top-width: 1px;
}

.tw-border-b-\[1px\]{
  border-bottom-width: 1px;
}

.tw-border-solid{
  border-style: solid;
}

.tw-border-\[\#000000\]{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.tw-border-\[\#FFFFFF\]{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.tw-border-\[\#000\]{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.tw-bg-\[\#56814C80\]{
  background-color: #56814C80;
}

.tw-bg-\[\#7AA66F\]\/25{
  background-color: rgb(122 166 111 / 0.25);
}

.tw-bg-\[\#F4F3EE\]{
  --tw-bg-opacity: 1;
  background-color: rgb(244 243 238 / var(--tw-bg-opacity, 1));
}

.tw-bg-\[\#FF8181\]\/30{
  background-color: rgb(255 129 129 / 0.3);
}

.tw-bg-black{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.tw-bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.tw-bg-black\/80{
  background-color: rgb(0 0 0 / 0.8);
}

.tw-bg-transparent{
  background-color: transparent;
}

.tw-p-0{
  padding: 0px;
}

.\!tw-px-0{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.tw-px-\[15px\]{
  padding-left: 15px;
  padding-right: 15px;
}

.tw-px-\[20px\]{
  padding-left: 20px;
  padding-right: 20px;
}

.tw-px-\[9px\]{
  padding-left: 9px;
  padding-right: 9px;
}

.tw-py-\[10px\]{
  padding-top: 10px;
  padding-bottom: 10px;
}

.tw-py-\[20px\]{
  padding-top: 20px;
  padding-bottom: 20px;
}

.tw-py-\[4px\]{
  padding-top: 4px;
  padding-bottom: 4px;
}

.tw-py-\[5px\]{
  padding-top: 5px;
  padding-bottom: 5px;
}

.tw-py-\[30px\]{
  padding-top: 30px;
  padding-bottom: 30px;
}

.tw-pb-\[150px\]{
  padding-bottom: 150px;
}

.tw-align-middle{
  vertical-align: middle;
}

.tw-text-\[14px\]{
  font-size: 14px;
}

.tw-text-\[16px\]{
  font-size: 16px;
}

.tw-text-\[24px\]{
  font-size: 24px;
}

.tw-font-bold{
  font-weight: 700;
}

.tw-font-normal{
  font-weight: 400;
}

.tw-leading-\[111\%\]{
  line-height: 111%;
}

.tw-leading-\[120\%\]{
  line-height: 120%;
}

.tw-text-\[\#31331E\]{
  --tw-text-opacity: 1;
  color: rgb(49 51 30 / var(--tw-text-opacity, 1));
}

.font-body-family{
  font-family: var(--font-body-family);
}

.font-heading-family{
  font-family: var(--font-heading-family);
}

.custom-body-style *{
  letter-spacing: 0em;
}

.product__tax{
  display: none;
}

.price-item--regular{
  margin: 0px !important;
  font-size: 36px !important;
  font-weight: 400 !important;
  line-height: 120% !important;
  color: #FF3030B5 !important;
  text-decoration-line: none !important;
}

.price__sale{
  display: flex !important;
  align-items: center;
  gap: 15px;
}

.price-item--sale{
  margin: 0px !important;
  font-size: 36px;
  font-weight: 400 !important;
  line-height: 120% !important;
  --tw-text-opacity: 1;
  color: rgb(49 51 30 / var(--tw-text-opacity, 1));
}

.price--show-badge{
  display: flex;
  align-items: center;
  gap: 15px;
}

.price--show-badge .badge,
.product .price__container{
  margin: 0px !important;
}

.product-form__buttons .product-form__submit{
  margin: 0px;
  height: 67px !important;
  min-height: 67px !important;
  border-radius: 50px;
  border-style: none !important;
  --tw-bg-opacity: 1;
  background-color: rgb(168 202 27 / var(--tw-bg-opacity, 1));
  font-size: 24px;
  text-transform: uppercase;
  line-height: 120%;
  --tw-text-opacity: 1;
  color: rgb(49 51 30 / var(--tw-text-opacity, 1));
  font-family: var(--font-heading-family);
}

.product-form__buttons{
  max-width: 100% !important;
}

.product-form__buttons .product-form__submit:after,
.product-form__buttons .product-form__submit:before{
  width: 100%;
  border-style: none !important;
  --tw-shadow: 0 0 #0000 !important;
  --tw-shadow-colored: 0 0 #0000 !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

@media (min-width: 768px){
  .md\:tw-grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .md\:\!tw-py-\[45px\]{
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }

  .md\:tw-py-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}