@tailwind base;
@tailwind components;
@tailwind utilities;

.font-body-family{
    font-family: var(--font-body-family);
}

.font-heading-family{
    font-family: var(--font-heading-family);
}

.custom-body-style *{
    @apply tw-tracking-normal;
}

.product__tax{
    @apply tw-hidden;
}

.price-item--regular{
    @apply !tw-no-underline !tw-text-[#FF3030B5] !tw-text-[36px] !tw-leading-[120%] !tw-font-normal !tw-m-0;
}

.price__sale{ 
    @apply !tw-flex tw-items-center tw-gap-[15px];
}

.price-item--sale{
    @apply tw-text-[#31331E] tw-text-[36px] !tw-leading-[120%] !tw-font-normal !tw-m-0;
}

.price--show-badge{
    @apply tw-flex tw-items-center tw-gap-[15px];
}

.price--show-badge .badge,
.product .price__container{
    @apply !tw-m-0;
}

.product-form__buttons .product-form__submit{
    @apply tw-bg-[#A8CA1B] !tw-border-none tw-rounded-[50px] tw-text-[24px] tw-leading-[120%] tw-text-[#31331E] tw-uppercase !tw-h-[67px] !tw-min-h-[67px] tw-m-0;
    font-family: var(--font-heading-family);
}

.product-form__buttons{
    @apply !tw-max-w-[100%];
}

.product-form__buttons .product-form__submit:after,
.product-form__buttons .product-form__submit:before{
    @apply !tw-border-none !tw-shadow-none tw-w-[100%];
}

.product__info-container{
    @apply tw-gap-[10px] !tw-flex tw-flex-col !tw-w-[100%];
}

.product__info-container > *,
.product__info-container > * + * {
    @apply !tw-my-0;
}

.metafield-rich_text_field p,
.product__info-container .product__description, .product__info-container .icon-with-text{
    @apply !tw-m-0;
}

.product__tax + div{
    @apply tw-hidden;
}

.product-tabs div:empty{
    @apply tw-block;
}

.product-tabs .tab-btn{
    font-family: var(--font-body-family);
}

.product-tabs .tab-panel *{
    font-family: var(--font-body-family);
    @apply tw-text-[16px] tw-leading-[111%] tw-text-[#31331E]/75 !tw-font-normal;
}